@(institution: Institution)
@main(institution.name + ": All Students", true) {

	<div class="large-10 medium-12 small-12 columns light-grey-bg-pattern">

		<div id="dashboard">

			<div class="row">
				<div class="large-12 medium-12 small-12 columns">
					<h1>Manage All Courses</h1>
					<h4>@institution.name</h4>
				</div>
			</div>
			<div class="row">
				<div class="large-12 medium-12 small-12 columns">
					<a href="@routes.CourseController.showCreateCoursePage()" class="button semiround">Register New Course at @institution.name</a>
				</div>
			</div>
			<div class="row">
				<div class="large-12 medium-12 small-12 columns">
					<div class="custom-panel">
						<div class="custom-panel-body">
							<table>
								<thead>
									<tr>
										<th>Course Name</th>
										<th width="200">Instructor Name</th>
										<th width="150">Students</th>
										<th width="150">Date</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>

								@for(course <- Course.getAllCoursesForInstitution(institution.id)) {
									<tr>
										<td><a href="@routes.CourseController.showCoursePage(course.id)">@course.name</a></td>
										<td><a href="@routes.UserController.showInstructorProfilePage(course.instructor.username)">@course.instructor.firstName @course.instructor.lastName</a></td>
										<td>@User.getAllStudentsForCourse(course.id).size()</td>
										<td>@course.startDate</td>
										<td><a href="#" class="button semiround">Edit</a>
											<a href="#" class="button semiround alert">Delete</a>
										</td>
									</tr>
								}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<script src="js/vendor/jquery.js"></script>
			<script src="js/foundation.min.js"></script>
			<script>
        $(document).foundation();
    </script>
}