@(form: Form[forms.AnnouncementForm], course: Course)
@main("Index") {

	<div class="large-10 medium-12 small-12 columns light-grey-bg-pattern">

		<div id="dashboard">

			<div class="row">
				<div class="large-12 medium-12 small-12 columns">
					<h1 class="left">{Basic Economics}</h1>
					<a role="button right" href="#" class="button radius">Edit</a>
					<a role="button right" href="#" class="button radius alert">Delete</a>
				</div>
			</div>
			<div class="row">


				@if(form.hasGlobalErrors) {
					<div class="alert alert-danger">
					@form.globalError.message
					</div>
				}

				<div class="large-3 medium-3 small-3 columns">
					<div class="panel callout radius" data-equalizer-watch>
						New Student Questions<br>
						<h3><a href="#">x</a></h3>
						<br>
					</div>
				</div>
				<div class="large-3 medium-3 small-3 columns">
					<div class="panel callout radius" data-equalizer-watch>
						Flagged Questions<br>
						<h3><a href="#">x</a></h3>
						<br>
					</div>
				</div>
				<div class="large-3 medium-3 small-3 columns">
					<div class="panel callout radius" data-equalizer-watch>
						Number of Students<br>
						<h3><a href="#">@User.getAllStudentsForCourse(course.id).size()</a></h3>
						<br>
					</div>
				</div>
				<div class="large-3 medium-3 small-3 columns" >
					<div class="panel callout radius" data-equalizer-watch>
						Course Ends in<br>
						<h3>@Course.calculateDaysRemainingForCourse(course).toInt</h3>
						days
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-3 medium-3 small-3 columns tabs vertical">

					<ul data-tab>
						<li class="tab-title active"><a href="#panel11">Announcements</a></li>
						<li class="tab-title"><a href="#panel21">Modules</a></li>
						<li class="tab-title"><a href="#panel31">Students</a></li>
					</ul>
				</div>
				<div class="large-9 medium-9 small-9 columns">
					<div class="tabs-content vertical">
						<div class="content active" id="panel11" style="padding:0px">
							<div class="custom-panel-heading">
								<h4>Announcements</h4>
							</div>
							<div class="custom-panel-body">

								<a role="button" data-reveal-id="createAnnouncementModal" class="button small radius">Create new Announcement</a>

								@*-------------------------*@
								@*CREATE ANNOUNCEMENT MODAL*@
								@*-------------------------*@
								<div id="createAnnouncementModal" style="height:400px" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
									<iframe frameborder="0" src="@routes.MessageController.showCreateAnnouncementPage(course.id)" width="100%" height="100%"></iframe>
									<a id="closeModal" class="close-reveal-modal" aria-label="Close">&#215;</a>

									<script>
										$('#closeModal').foundation('reveal', 'close');

										$(document).on("click", "#closeModal", function(){
											location.reload(true);
										});
									</script>
								</div>




								<table width="100%">
									<thead>
										<tr>
											<th width="20%">Release Date</th>
											<th width="55%">Description</th>
											<th width="25%">Actions</th>
										</tr>
									</thead>
									<tbody>
									@for(announcement <- Message.getAllAnnouncementsForCourse(course.id)) {
										<tr>
											<td>@announcement.createdTime</td>
											<td>@announcement.prompt.text</td>
											<td><a role="button" data-reveal-id="editAnnouncementModal-@announcement.id" id="@announcement.id" class="button radius editAnnouncementButton">Edit</a>
												<a role="button" data-reveal-id="deleteAnnouncementModal-@announcement.id" class="button radius alert">Delete</a>
											</td>
											@*--------------------------*@
											@*EDIT ANNOUNCEMENT MODAL(S)*@
											@*--------------------------*@
											@*TODO: Change this so that only the desired iframe edit page loads when the Edit buttons is clicked*@
											<div id="editAnnouncementModal-@announcement.id" style="height:400px" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
												<iframe class='iframe' frameborder="0" src="@routes.MessageController.showEditAnnouncementPage(announcement.id)" width="100%" height="100%"></iframe>
												<a id="closeModal" class="close-reveal-modal" aria-label="Close">&#215;</a>

												<script>
													//on click of close button, close the modal and reload the page
													$('#closeModal').foundation('reveal', 'close');
													$(document).on("click", "#closeModal", function(){
														location.reload(true);
													});
												</script>
											</div>


											@*--------------------------*@
											@*DELETE ANNOUNCEMENT MODAL(S)*@
											@*--------------------------*@
											@*TODO: Change this so that only the desired iframe edit page loads when the Delete button is clicked*@
											<div id="deleteAnnouncementModal-@announcement.id" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
												<h2 id="modalTitle">Confirm Delete</h2>
												<p class="lead">Are you sure you want to delete this Announcement?</p>
												<a class="close-reveal-modal" aria-label="Close">&#215;</a>

												<button class="button radius close-delete-announcement-modal-@announcement.id">Cancel</button>
												<button id="delete-@announcement.id" class="button radius alert deleteBtn">Delete</button>
											</div>

											<script>
												$(".deleteBtn").on("click", function() {
													var id = $(this).attr('id').split("-")[1];
													jsRoutes.controllers.MessageController.delete(id).ajax({
													    success : function(data) {
													        window.location.reload();
													    },
													    error : function(err) {
													    }
													});
												});

												$(".close-delete-announcement-modal-@announcement.id").on("click", function() {
													$("#deleteAnnouncementModal-@announcement.id").foundation("reveal", "close");
												});
											</script>
										</tr>
									}
									</tbody>
								</table>
							</div>
						</div>



						<div class="content" id="panel21" style="padding:0px">
							<div class="custom-panel-heading">
								<h4>Modules</h4>
							</div>
							<div class="custom-panel-body">
								<p>
									<a role="button" href="#" class="button small radius">Create new Module</a>
								</p>
								<div class="panel" width="100%">
									<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
									@for(module <- Module.getAllModulesForCourse(course.id)) {
										<li>
											<div class="panel">
												<h4>Module @module.orderIndex</h4>
												<p>@Question.getAllQuestionsForModule(module).size() Questions</p>
												<a href="#" class="button radius">Edit</a>
											</div>
										</li>
									}
									</ul>
								</div>
							</div>
						</div>



						<div class="content" id="panel31" style="padding:0px">
							<div class="custom-panel-heading">
								<h4>Students</h4>
							</div>
							<div class="custom-panel-body">
								<a role="button" href="#" class="button small radius">Manage Enrollment</a>

								<ul class="tabs" data-tab>
									<li class="tab-title active"><a href="#panel1">Daily Progress</a></li>
									<li class="tab-title"><a href="#panel2">Evaluations (@Module.getAllModulesForCourseByType(course.id, Module.Type.getType("Evaluation")).size())</a></li>
									<li class="tab-title"><a href="#panel3">Surveys (@Module.getAllModulesForCourseByType(course.id, Module.Type.getType("Survey")).size())</a></li>
								</ul>
								<div class="tabs-content">
									<div class="content active" id="panel1">
										<table width="100%">
											<thead>
												<tr>
													<th width="300">Name</th>
													<th width="145">Points</th>
													<th>Level</th>
													<th width="150">Last Login</th>
												</tr>
											</thead>
											<tbody>
											@for(student <- User.getAllStudentsForCourse(course.id)) {
												<tr>
													<td><a href="@routes.UserController.showStudentProfilePage(student.username)">@student.firstName @student.lastName</td>
													<td>{points}</td>
													<td>{level}</td>
													<td>{last login}</td>
												</tr>
											}
											</tbody>
										</table>
									</div>
									<div class="content" id="panel2">
										<table width="100%">
											<thead>
												<tr>
													<th width="300">Name</th>
													@for(module <- Module.getAllModulesForCourseByType(course.id, Module.Type.getType("Evaluation"))) {
														<th width="145">x</th>
													}
												</tr>
											</thead>
											<tbody>
											@if(Module.getAllModulesForCourseByType(course.id, Module.Type.getType("Evaluation")).size() <= 0) {
												<tr><td>(No evaluations for this course)</td></tr>
											} else {
												@for(student <- User.getAllStudentsForCourse(course.id)) {
													<tr>
														<td><a href="@routes.UserController.showStudentProfilePage(student.username)">@student.firstName @student.lastName</td>
														@for(module <- Module.getAllModulesForCourseByType(course.id, Module.Type.getType("Evaluation"))) {
															<td>{score}</td>
														}
													</tr>
												}
											}
											</tbody>
										</table>
									</div>
									<div class="content" id="panel3">
										<table width="100%">
											<thead>
												<tr>
													<th width="300">Name</th>
													@for(module <- Module.getAllModulesForCourseByType(course.id, Module.Type.getType("Survey"))) {
														<th width="145">x</th>
													}
												</tr>
											</thead>
											<tbody>
											@if(Module.getAllModulesForCourseByType(course.id, Module.Type.getType("Survey")).size() <= 0) {
												<tr><td>(No surveys for this course)</td></tr>
											} else {
												@for(student <- User.getAllStudentsForCourse(course.id)) {
													<tr>
														<td><a href="@routes.UserController.showStudentProfilePage(student.username)">@student.firstName @student.lastName</td>
														@for(module <- Module.getAllModulesForCourseByType(course.id, Module.Type.getType("Survey"))) {
															<th width="145">x</th>
														}
													</tr>
												}
											}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script src="../js/vendor/jquery.js"></script>
			<script src="../js/foundation.min.js"></script>
			<script>
         $(document).foundation();
      </script>
			</body>
}