@main("Index") {

	<head>
		<title>Welcome</title>
		<script>
			$(document).ready(function() {
			    // page is now ready, initialize the calendar...
			    $('#calendar').fullCalendar({
			        dayClick: function() {
				        alert('a day has been clicked!');
				    },
			        theme: true,
					header: {
						left: 'prev',
						center: 'title',
						right: 'next'
					},
					fixedWeekCount: false,
					aspectRatio: 1,
			    })
			});
		</script>
	</head>


	<style type="text/css">
	.button.tiny {
	margin:0px;
	padding:5px 10px 5px 10px;
	}

	#calendar {
	max-width: 900px;
	margin: 0 auto;
	}
	</style>


	<body>
		<div class="large-10 medium-12 small-12 columns light-grey-bg-pattern">

			<div id="dashboard">
				<div class="row">
					<div class="large-3 medium-6 small-12 columns">
						<div class="stats courses">
							<div class="left">
								<span class="header">Courses</span>
								<h3>@Course.getAllCoursesForInstitution(session.get("institutionId").toLong).size()</h3>
							</div>
							<i class="fa fa-mortar-board right"></i>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="large-3 medium-6 small-12 columns">
						<div class="stats modules">
							<div class="left">
								<span class="header">Modules</span>
								<h3>100</h3>
							</div>
							<i class="fa fa-book right"></i>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="large-3 medium-6 small-12 columns">
						<div class="stats instructors">
							<div class="left">
								<span class="header">Instructors</span>
								<h3>@User.getAllInstructorsForInstitution(session.get("institutionId").toLong).size()</h3>
							</div>
							<i class="fa fa-group right"></i>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="large-3 medium-6 small-12 columns">
						<div class="stats students">
							<div class="left">
								<span class="header">Students</span>
								<h3>@User.getAllStudentsForInstitution(session.get("institutionId").toLong).size()</h3>
							</div>
							<i class="fa fa-group right"></i>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="large-8 columns">
						<div class="custom-panel">
							<div class="custom-panel-heading">
								<h4>My Surveys</h4>
							</div>
							<div class="custom-panel-body">
								<table width="100%">
									<tr>
										<th>Survey Name</th>
										<th>Course</th>
										<th>Newest</th>
										<th>Completed</th>
									</tr>

									@for(module <- Module.getAllModulesForInstructorByType(session.get("userId").toLong, Module.Type.getType("Survey"))){
										<tr>
											<td>@module.name</td>
											<td>{Course}</td>
											<td>Newest</td>
											<td>Completed</td>
										</tr>
									}
								</table>
							</div>
						</div>
						<div class="custom-panel">
							<div class="custom-panel-heading">
								<h4>My Evaluations</h4>
							</div>
							<div class="custom-panel-body">
								<table width="100%" style="margin-bottom:0px">
									<tr>
										<th>Survey Name</th>
										<th>Course</th>
										<th>Newest</th>
										<th>Completed</th>
									</tr>

									@for(module <- Module.getAllModulesForInstructorByType(session.get("userId").toLong, Module.Type.getType("Evaluation"))){
										<tr>
											<td>@module.name</td>
											<td>Course</td>
											<td>Newest</td>
											<td>Completed</td>
										</tr>
									}
								</table>
							</div>
						</div>
					</div>
				<div class="large-4 columns">
					<div class="custom-panel">
						<div class="custom-panel-heading">
							<h4>Upcoming Releases</h4>
						</div>
						<div class="custom-panel-body">
							<div id='calendar'></div>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="large-6 columns">
					<div class="custom-panel">
						<div class="custom-panel-heading">
							<h4>To Do</h4>
						</div>
						<div class="custom-panel-body">
							<input id="new-todo" type="text" placeholder="What needs to be done?">
							<ul id="todo-list">

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
	</html>
}