@main("Index") {

<div class='container'>
    Institutions: @Institution.getAll().size()
    <br><br>
    Super Admins: @User.getAllByRole("Super Administrator").size()
    <br>
    Admins: @User.getAllByRole("Administrator").size()
    <br>
    Instructor: @User.getAllByRole("Instructor").size()
    <br>
    Students: @User.getAllByRole("Student").size()
    <br><br>
    Courses: @Course.getAll().size()
    <br><br>
    Questions: @Question.getAll().size()
    <br><br>
    Choices: @Choice.getAll().size()
    <br>

</div>

}