@(title: String, shouldShowLoggedInContent: Boolean = true)(content: Html)

<!DOCTYPE html>

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="layout" content="main"/>
		<title>@title</title>
		<link rel="stylesheet" href='@routes.Assets.versioned("css/foundation.css")' />
		<link rel="stylesheet" href='@routes.Assets.versioned("css/remind-style.css")' />
		<link rel="stylesheet" href='@routes.Assets.versioned("css/foundation.css")'/>
		<link rel="stylesheet" href='@routes.Assets.versioned("css/remind-style.css")'>
		<link rel="stylesheet" href='@routes.Assets.versioned("css/remind-style.css")' />
		<script src='@routes.Assets.versioned("js/vendor/modernizr.js")'></script>
		<script src='@routes.Assets.versioned("js/vendor/jquery.js")'></script>
		<script src='@routes.Assets.versioned("js/foundation.min.js")'></script>
		<script src='@routes.Assets.versioned("js/moment.min.js")'></script>
		<link rel='stylesheet' href='@routes.Assets.versioned("fullcalendar-2.3.2/fullcalendar.css")' />
		<script src='@routes.Assets.versioned("fullcalendar-2.3.2/fullcalendar.js")'></script>
<body>
	
	@if(shouldShowLoggedInContent) {
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Remind</a></h1>
				</li>
			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li><a href="@routes.CourseController.showAllCoursesPage()">Manage Courses</a></li>
					<li><a href="@routes.CourseController.showMyCoursesPage()">My Courses</a></li>
					<li><a href="@routes.UserController.showAllInstructorsPage()">Manage Instructors</a></li>
					<li><a href="@routes.UserController.showAllStudentsPage()">Manage Students</a></li>
					<li><a href="@routes.UserController.showInstructorProfilePage(User.byId(session.get("userId").toLong).username)">@User.byId(session.get("userId").toLong).username</a></li>
				</ul>
			</section>
		</nav>
	}
	@content
</body>
</html>