@(instructor: User)
@main("My Courses", true) {

	<div class="large-10 medium-12 small-12 columns light-grey-bg-pattern">

		<div id="dashboard">

			<div class="row">
				<div class="large-12 medium-12 small-12 columns">
					<h1>My Courses</h1>
					<h4>@session.get("institutionName")</h4>
				</div>
			</div>
			<div class="row">
				<div class="large-12 medium-12 small-12 columns">
					<a href="@routes.CourseController.showCreateCoursePage()" class="button radius small">Teach a New Course</a>
				</div>
			</div>
			<div class="row">
				<div class="large-12 medium-12 small-12 columns">
					<div class="custom-panel">
						<div class="custom-panel-body">
							<table width="100%">
									<tr>
										<th>Course Name</th>
										<th width="100">Students</th>
										<th width="150">Date</th>
										<th>Actions</th>
									</tr>
								<tbody>
								@for(course <- Course.getAllCoursesForInstructor(instructor.id)) {
									<tr>
										<td><a href="@routes.CourseController.showCoursePage(course.id)">@course.name</a></td>
										<td>@User.getAllStudentsForCourse(course.id).size()</td>
										<td>@course.startDate</td>
										<td><a href="#" class="button radius">Edit</a>
											<a href="#" class="button radius alert">Delete</a>
										</td>
									</tr>
								}

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<script src="js/vendor/jquery.js"></script>
				<script src="js/foundation.min.js"></script>
				<script>
		$(document).foundation();
	</script>
}